<p id="notice"><%= notice %></p>

<%= form_for(@card) do |f| %>
  <%= f.text_field :name %>
  <ul>
  <%= f.fields_for :squares do |squares_form| %>
    <li>
      <%= squares_form.text_field :name %>
    </li>
    <li>
      <%= squares_form.text_area :description %>
    </li>
    <li>
      <%= squares_form.text_area :hard %>
    </li>
  <% end %>
  </ul>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
