<p id="notice"><%= notice %></p>


<table class="table table-bordered">
  <tbody>
    <% @squares.each_with_index do |square, i| %>
      <% if ([0, 5, 10, 15, 20].include? i) %>
        <tr>
      <% end %>
        <div class="content">
          <td>
            <div class="image"><%= image_tag(asset_url("blank.jpg")) %></div>
            <h6 class="text"><%= square.name %></h6>
            <%= link_to 'View Details', square, remote: true %>
          </td>
        </div>
      <% if ([4, 9, 14, 19, 24].include? i) %>
        <tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= render "layouts/modal" %>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
