<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <% @squares.each_with_index do |square, i| %>
    <div class="square button">
      <div class="content">
        <div class="table">
          <div class="table-cell">
            <p><%= square.get_truncated_name %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<!--     <tr>
      <td><%= @squares[0].name %></td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr> -->
  </tbody>
</table>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
