<p id="notice"><%= notice %></p>


<table class="table table-bordered">
  <tbody>
    <% @squares.each_with_index do |square, i| %>
      <% if ([0, 5, 10, 15, 20].include? i) %>
        <tr>
      <% end %>
        <div class="content">
          <td>
            <%= image_pack_tag 'blank.jpg' %>
            <h6 class="text"><%= square.name %></h6>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-<%= square.id %>">
              View Details
            </button>

            <!-- Modal -->
            <div class="modal fade" id="modal-<%= square.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><%= square.name %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ...
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </div>
      <% if ([4, 9, 14, 19, 24].include? i) %>
        <tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>

